//TODO==Null-Style================================
@import "null.scss";
//TODO==FONTS=====================================
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Medium.eot");
  src: local("☺"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico.eot");
  src: local("☺"), url("../fonts/Pacifico.woff") format("woff"), url("../fonts/Pacifico.ttf") format("truetype"),
    url("../fonts/Pacifico.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
//TODO=====@MIXIN===========================
@mixin JC-and-AI-prefix($jc-pos, $ai-pos) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: $ai-pos;
  -ms-flex-align: $ai-pos;
  align-items: $ai-pos;
  -webkit-box-pack: $jc-pos;
  -ms-flex-pack: $jc-pos;
  justify-content: $jc-pos;
}

@mixin JC-prefix($jc-pos) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: $jc-pos;
  -ms-flex-pack: $jc-pos;
  justify-content: $jc-pos;
}

@mixin AI-prefix($ai-pos) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: $ai-pos;
  -ms-flex-align: $ai-pos;
  align-items: $ai-pos;
}

@mixin Flex-Direction($fd-pos) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: $fd-pos;
  flex-direction: $fd-pos;
}
//TODO=======================================
//body=======================================
body {
  background-color: #f4f4f4;
  font-family: "HelveticaNeue";
}
//=============Wrapper========================
.wrapper {
 
}
//============================================
//!======================MAIN=================
@import "elements-scss/main.scss";
//!======================INFORMATION==========
@import "elements-scss/information.scss";
//!======================Slider===============
@import "elements-scss/slider.scss";
//!======================section-info=========
@import "elements-scss/section-info.scss";
//!======================FOOTER===============
@import "elements-scss/footer.scss";
